*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Cairo', sans-serif;
}
.signup{
    height: 100vh;
    width: 100%;
}
.signup h4{
    font-weight: 500;
    text-align: right;
    font-size: 40px;
    margin-bottom: 15px;
}
.signup > div{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    text-align: right;
    display: block;
    padding-top: 20vh
}
.sign{
    display: flex;
    flex-flow: column wrap;
    border: 1px solid hsl(0deg 0% 95%);
    border-top: none;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    padding-right: 10px;
    box-shadow: 0px 5px 10px 0px rgb(128 128 128 / 20%);
}
.sign p{
    padding-top: 20px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
    color: black;
}
.sign input[type='text'] 
,input[type='password']{
    width: calc(100% - 20px);
    height: 35px;
    border-radius: 7px;
    border: 0.5px solid #cccccc;
    box-sizing: border-box;
    padding: 20px 10px
}
.sign input[type='text'] 
,input[type='password']:focus{
    outline: 0.5px solid #cccccc;
}
.sign span{
    display: flex;
    flex-flow: row-reverse wrap;
    margin-top: 20px;
}
span div:first-child{
    width: fit-content;
    padding: 10px 15px;
    background-color: #007bff;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}
span div:hover{
    cursor: pointer;
    background-color: #007BD5;
}
.words{
    margin-top: 10px!important;
    margin-right: 8px!important;
    margin-bottom: 10px;
}
span a{
    margin-right: 2px;
    color: #0099ff;
}
span a:link{
    text-decoration: none;
    color: #0099ff;
}
/* Medium display */
@media (max-width:992px){
    .sign{
        width: 720px;
    }
}
/* Small display */
@media (max-width:768px){
    .sign{
        width: 90vw;
    }
}